# db
MYSQL_HOST=mariadb
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=wppassword

# Site
WP_URL=https://seu-dominio.com
WP_TITLE=Meu Inception
WP_ADMIN=admin
WP_ADMIN_PASSWORD=admin123
WP_ADMIN_EMAIL=admin@example.com

# common user optional
WP_USER=usuario
WP_USER_PASSWORD=senha123
WP_USER_EMAIL=usuario@example.com

